//colors

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-yellow-light: #ffb900;
$color-yellow: #ffff30;
$color-yellow-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue: #00ffff;
$color-blue-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;

$color-white: #fff;
$color-black: #000;

//font

$default-font-size: 1.6rem;

// grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;